<form method="post" action="http://www.yourpaymentprovider.com" class="mag-proceedToPayment">
<p class="mag-error">
    @T("Override this view (DisplayTemplates\\Checkout\\ProceedToPayment.cshtml) in your theme in order to submit payment data to the payment provider of your choice.")<br />
    @T("The newly generated order is accessible in the model of this view (this.Model.Order).")<br />
    @T("If this form contains at least one input field it will be automatically submitted.")<br />
</p>
</form>
